@media screen and (max-width: map-get($breakpoint, Mobile)) {
 
 header {
    display: none;
    visibility: hidden;
    width: 100vw;
    height: 80px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: $White;
    z-index:20;
  }

//   onbre
  header::after {
    content: "";
    width: 100vw;
    height: 250vh;
    position: absolute;
    opacity: 0.2;
    top: 79px;

    background-color: $Black;
  }

  header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    // background-color: crimson;
    height: 50px;
    width: 300px;
  }
  header a {
    width: 0px;
    height: 0px;
    text-decoration: none;
    color: $Black;

    font-size: large;
    font-weight: bold;
    text-transform: lowercase;

  }
  .icon-close{
    margin-left:10px;
  }



  
}


@media screen and (min-width: map-get($breakpoint, Desktop)) {
 
 header {
    
    height: 50px;
    width: 300px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    top: 1vw;
    left:10vw ;
    
    z-index:20;
  }

//   onbre
  header::after {
    content: "";
    
    display: none;
    visibility: hidden;
  }

  header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    // background-color: crimson;
    height: 50px;
    width: 300px;
  }
  header a {
    width: 0px;
    height: 0px;
    text-decoration: none;
    color: $White;

    font-size: large;
    font-weight: 500;
    text-transform: lowercase;

  }

  header a:hover {
    border-bottom:4px solid $White ;
   padding-bottom: 10px;
   font-size: x-large;
    font-weight: 900;

  }
  .icon-close{
    
    display: none;
    visibility: hidden;
  }



  
}
