@import "sass/variable";
@import "sass/header";
@import "sass/text_1";
@import "sass/text_2";
@import url("https://fonts.google.com/specimen/League+Spartan");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // 10px div by def of 16px
  font-size: 62.5%;
  // width: 100vw;
  // height: 100%;
}



@media screen and (min-width: map-get($breakpoint, Desktop)) {
  body {
    box-sizing: border-box;
    font-family: "Fraunces", serif;
    font-family: "Inter", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-family: "League Spartan", sans-serif;
    overflow-x: hidden;
    width: 100vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    
  }

  .premier,.second{
    display: flex;
    flex-direction: row;
  }

  .sroll_img {
    background-image: url("../../images/desktop-image-hero-1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 60vw;
    height: 70vh;
    // height: 419px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    object-fit: cover;
     
    .icon-hamburger {
     visibility: hidden;
    }

    p {
      color: #fff;
      font-size: 2vw;
      margin-left: -77%;
      margin-top: 21px;
      // z-index: 20;
      cursor: pointer;
    }

  
  }

  .text_1 {
    width: 40vw;
    height: 70vh;
    // height: 419px;
    // background:blue;
    display: flex;
    // justify-content: end;
    align-items: center;
    
  }
  .image_about_dark {
    height: 31vh;
    width:30vw;
    object-fit: cover;
    


    img {
      width: 100%;
      height: 100%;
    }
  }

  .text_2 {
    height: 30vh;
    width:40vw;
    
  }
  .image_about_light {
   height: 31vh;
   width: 32vw;
   object-fit: cover;
   margin-top: 0px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}


@media screen and (max-width: map-get($breakpoint, Mobile)) {
  body {
    box-sizing: border-box;
    font-family: "Fraunces", serif;
    font-family: "Inter", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-family: "League Spartan", sans-serif;
    overflow-x: hidden;
    width: 100vw;
    height: 1480px;

    display: flex;
    flex-direction: column;
    
  }

  .premier,.second{
    display: flex;
    flex-direction: column;
  }

  .sroll_img {
    background-image: url("../../images/mobile-image-hero-1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: 300px;
    // height: 419px;

    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-start;
    object-fit: cover;
     
    .icon-hamburger {
    top: 17px;
    right: 84%;
    position: absolute;
    }

    #room {
      color: #fff;
      font-size: 5vw;
      // margin-left: -77%;
      margin-top: 15px;
      z-index: 20;
      cursor: pointer;
    }

  
  }

  .text_1 {
    width: 100vw;
    height: 400px;
    
    // background:blue;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
  }
  .image_about_dark {
    width:100vw;
    height: 250px;
    object-fit: cover;
    


    img {
      width: 100%;
      height: 100%;
    }
  }

  .text_2 {
    width:100vw;
    height: 300px;
    
  }
  .image_about_light {
    width: 100vw;
    height: 1fr;
   object-fit: cover;
   
    img {
      width: 100%;
      height: 100%;
    }
  }
}

