@import "sass/variable";
@import "sass/header";
@import "sass/text_1";
@import "sass/text_2";
@import url("https://fonts.google.com/specimen/League+Spartan");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // 10px div by def of 16px
  font-size: 62.5%;
  width: 100vw;
  height: 100%;
}

@media screen and (max-width: map-get($breakpoint, Mobile)) {
  body {
    box-sizing: border-box;
    font-family: "Fraunces", serif;
    font-family: "Inter", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-family: "League Spartan", sans-serif;
    overflow-x: hidden;
    width: 100vw;
    height: 100%;

    display: grid;
    grid-template-columns: 100vw;
    // grid-template-rows: 350px 0.4fr 0.5fr 250px 250px ;
    grid-template-rows: 350px 1fr 1fr 1fr 1fr;

    position: relative;
  }

  .sroll_img {
    grid-column: 1;
    grid-row: 1;
    background-image: url("../../images/mobile-image-hero-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .icon-hamburger {
      width: 30px;
      height: 30px;
      margin-top: 20px;
      margin-left: 20px;

      // visibility: hidden;
    }

    p {
      color: $White;
      font-size: x-large;
      margin-top: 20px;
      margin-right: 40vw;
      // display: none;
      text-decoration: none;
    }

    p a {
      text-decoration: none;
      color: $White;
    }
  }

  .text_1 {
    grid-column: 1;
    grid-row: 2;
    // background:red;
    position: relative;
  }
  .image_about_dark {
    grid-column: 1;
    grid-row: 3;
    object-fit: cover;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .text_2 {
    grid-column: 1;
    grid-row: 4;
  }
  .image_about_light {
    grid-column: 1;
    grid-row: 5;
    object-fit: cover;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (min-width: map-get($breakpoint, Desktop)) {
  body {
    box-sizing: border-box;
    font-family: "Fraunces", serif;
    font-family: "Inter", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-family: "League Spartan", sans-serif;
    overflow-x: hidden;
    width: 100vw;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(100, 1fr);

    grid-template-rows: repeat(100, 1fr);

    position: relative;
  }

  #header {
    grid-column: 1/64;
    grid-row: 1/75;
  }

  .sroll_img {
    grid-column: 1/60;
    grid-row: 1/65;
    background-image: url("../../images/desktop-image-hero-1.jpg");
    background-repeat: no-repeat;
    background-size: 92% 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    object-fit: cover;
    //  background-color: red;
    .icon-hamburger {
      width: 30px;
      height: 30px;
      margin-top: 20px;
      margin-left: 20px;

      visibility: hidden;
    }

    p {
      color: $White;
      font-size: x-large;
      margin-top: 20px;
      margin-right: 56vw;
      // display: none;
      z-index: 20;
    }

    p a {
      text-decoration: none;
      color: $White;
    }
  }

  .text_1 {
    grid-column: 62/100;
    grid-row: 1/65;
    // background:blue;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    
  }
  .image_about_dark {
    grid-column: 1/30;
    grid-row: 65/101;
    object-fit: cover;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .text_2 {
    grid-column: 31/70;
    grid-row: 66/100;
  }
  .image_about_light {
    grid-column: 70/101;
    grid-row: 65/101;
    object-fit: cover;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
